@{
    Layout = "_BlogLayout.cshtml";
}
@model IEnumerable<PostExcerpt>

@section Resource {
    <link rel="stylesheet" href="@Url.Content("~/styles/list.css")" />
}

@foreach (PostExcerpt post in @Model) {
    <article>
        <h1><a href="@Url.Content("~/" + post.Name + "/")">@post.Title</a></h1>
        <footer class="meta">
            发表于<time datetime="@post.PostDate.ToString("yyyy-MM-dd")">@post.PostDate.ToString("yyyy年%M月%d日")</time>
        </footer>
        @Html.Raw(post.Excerpt)
        <footer>
            <a href="@Url.Content("~/" + post.Name + "/")" title="继续阅读《@post.Title》">继续阅读-></a>
        </footer>
    </article>
}
@{
    string baseUrl = ViewBag.BaseUrl;
    if (baseUrl == null) {
        baseUrl = "/";
    }
}
@if (ViewBag.PageCount > 1) {
    <nav id="pager">
        <h1>更多内容</h1>
        <ul>
        @{
            int maxPages = 10;
            int previous = 4;
            int post = maxPages - previous;

            int start = ViewBag.PageIndex - previous;
            int end = start + maxPages - 1;

            if (start < 1) {
                end -= start;
                start = 1;
            }
            if (end > ViewBag.PageCount) {
                end = ViewBag.PageCount;
            }
            if (end - start + 1 < maxPages) {
                start = Math.Max(1, end - maxPages);
            }
        }
        @for (int i = start; i <= end; i++) {
            <li>
            @if (i == ViewBag.PageIndex) {
                <span>@i</span>
            }
            else {
                <a href="@(baseUrl + i)"><span>@i</span></a>
            }
            </li>
        }
        </ul>
    </nav>
}
