@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<PostExcerpt>
@foreach (PostExcerpt post in @Model) {
    <article>
        <header>
            <h1><a href="@Url.Content("~/" + post.Name)">@post.Title</a></h1>
        </header>
        <footer>
            发表于<time datetime="@post.PostDate.ToString("yyyy-MM-dd")">@post.PostDate.ToString("yyyy年%M月%d日")</time>
        </footer>
        @Html.Raw(post.Excerpt)
        <footer>
            <a href="@Url.Content("~/" + post.Name)" title="继续阅读《@post.Title》">继续阅读-></a>
        </footer>
    </article>
}
<nav id="pager">
    <h1>更多内容</h1>
    <ul>
    @for (int i = 1; i <= ViewBag.PageCount; i++) {
        <li>
        @if (i == ViewBag.PageIndex) {
            <span>@i</span>
        }
        else {
            <a href="/@i">@i</a>
        }
        </li>
    }
    </ul>
</nav>
