@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<PostExcerpt>

@foreach (PostExcerpt post in @Model) {
    <article>
        <header>
            <h2>@post.Title</h2>
            <aside>
                @post.PostDate.ToString("yyyy-MM-dd")
            </aside>
        </header>
        @Html.Raw(post.Excerpt)
        <a href="/@post.Name" title="继续阅读《@post.Title》">继续阅读-></a>
    </article>
}

<aside id="pager">
@for (int i = 1; i <= ViewBag.PageCount; i++) {
    if (i == ViewBag.PageIndex) {
        <span>@i</span>
    }
    else {
        <a href="/@i">@i</a>
    }
}
</aside>