@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model PostEntry
<a href="/">回首页</a>

<article id="post" data-name="@Model.Name">
    <header>
        <h1>@Model.Title</h1>
    </header>
    <footer>
        <span id="post-time">发表于 <time datetime="@Model.PostDate.ToString("yyyy-MM-DD")">@Model.PostDate.ToString("yyyy年%M月%d日")</time></span>
    </footer>
    @Html.Raw(Model.Content)
    <footer id="tags">
        所属标签
        <ul>
            @foreach (string tag in @Model.Tags) {
                <li>@tag</li>
            }
        </ul>
    </footer>
</article>

<section id="comments">
    正在加载评论……
</section>

<aside id="post-comment">
    <h1>评论</h1>
    <form method="post" action="@Url.Content("~/" + @Model.Name + "/comments/")">
        <input type="hidden" name="comment.postName" value="@Model.Name" />
        <div class="form-row">
            <input id="name" name="comment.author.name"@Html.Raw(ViewBag.Comment == null ? String.Empty : " value=\"" + Html.AttributeEncode(ViewBag.Comment.Author.Name) + "\"") placeholder="昵称" required="required" maxlength="60" />
            <label for="name" class="validation-error">@DisplayValidationMessage("name")</label>
        </div>
        <div class="form-row">
            <input id="email" name="comment.author.email"@Html.Raw(ViewBag.Comment == null ? String.Empty : " value=\"" + Html.AttributeEncode(ViewBag.Comment.Author.Email) + "\"") placeholder="昵称" required="required" maxlength="100" />
            <label for="email" class="validation-error">@DisplayValidationMessage("email")</label>
        </div>
        <div class="form-row">
            <textarea id="content" name="comment.content" placeholder="使用Markdown格式，在编辑器中写完后复制吧" required="required">@(ViewBag.Comment == null ? String.Empty : ViewBag.Comment.Content)</textarea>
            <label for="content" class="validation-error">@DisplayValidationMessage("content")</label>
        </div>
        <div class="form-submit">
            <input type="submit" value="提交" />
        </div>
    </form>
</aside>

<script src="@Url.Content("~/scripts/mustache.js?v=1")" defer="defer"></script>
<script src="@Url.Content("~/scripts/markdown.js?v=1")" defer="defer"></script>
<script src="@Url.Content("~/scripts/view-post.js?v=1")" defer="defer"></script>

@helper DisplayValidationMessage(string name) {
    ModelState state = ViewData.ModelState[name];
    if (state != null && state.Errors.Any()) {
        @state.Errors[0].ErrorMessage;
    }
}