@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model PostEntry
<a href="/">回首页</a>

<article id="post" data-name="@Model.Name">
    <header>
        <h1>@Model.Title</h1>
    </header>
    <footer>
        <span id="post-time">发表于 <time datetime="@Model.PostDate.ToString("yyyy-MM-DD")">@Model.PostDate.ToString("yyyy年%M月%d日")</time></span>
    </footer>
    @Html.Raw(Model.Content)
    <footer id="tags">
        所属标签
        <ul>
            @foreach (string tag in @Model.Tags) {
                <li>@tag</li>
            }
        </ul>
    </footer>
</article>

<section id="comments">
    正在加载评论……
</section>

<aside id="post-comment">
    <h1>评论</h1>
    <form method="post" action="@Url.Content("~/" + @Model.Name + "/comments")">
        <input type="hidden" name="comment.postName" value="@Model.Name" />
        <div class="form-row">
            <input name="comment.author.name" placeholder="昵称" />
        </div>
        <div class="form-row">
            <input name="comment.author.email" placeholder="邮箱" />
        </div>
        <div class="form-row">
            <textarea name="comment.content" placeholder="使用Markdown格式"></textarea>
        </div>
        <div class="form-submit">
            <input type="submit" value="提交" />
        </div>
    </form>
</aside>

<script src="@Url.Content("~/scripts/mustache.js?v=1")" defer="defer"></script>
<script src="@Url.Content("~/scripts/markdown.js?v=1")" defer="defer"></script>
<script src="@Url.Content("~/scripts/view-post.js?v=1")" defer="defer"></script>
