<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <script src="@Url.Content("~/scripts/jquery-1.8.2.js")" defer="defer"></script>
    <link rel="stylesheet" href="@Url.Content("~/styles/site.css")" />
    @RenderSection("Resource", false)
    <link rel="icon" href="/images/favicon.ico" />
    <link rel="shortcut icon" href="/images/favicon.ico" />
</head>

<body>
    <header>
        <hgroup>
            <h1>宅居 - <strong>半裸</strong></h1>
            <h2>最美无非纱后肌玉</h2>
        </hgroup>
    </header>
    @RenderBody()
    <script src="http://hm.baidu.com/h.js?F77710a53fa85528362c49b970165efe6" async="async" defer="defer"></script>
</body>
</html>
