<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <script src="@Url.Script("jquery-1.8.2")" data-persist="persist"></script>
    <link rel="stylesheet" href="@Url.Style("site")" data-persist="persist" />
    @RenderSection("Resource", false)
    <link rel="icon" href="/favicon.ico" />
    <link rel="shortcut icon" href="/favicon.ico" />
</head>

<body>
    <header>
        <hgroup>
            <h1>宅居 - <strong>半裸</strong></h1>
            <h2>最美无非纱后肌玉</h2>
        </hgroup>
    </header>
    <nav id="navigation">
        <ul>
            <li><a href="/">博客</a></li>
            <li><a href="http://weibo.com/otakustay" target="_blank">微博</a></li>
            <li><a href="https://github.com/otakustay" target="_blank">GitHub</a></li>
            <li><a href="http://stackoverflow.com/users/610777/otakustay" target="_blank">Stack Overflow</a></li>
        </ul>
    </nav>
    @RenderBody()
    <script>
        function loadHolmes() {
            var hostname = location.hostname.toLowerCase();
            if (hostname !== 'localhost' && hostname.indexOf('127.0.0.') !== 0) {
                $('#holmes').remove();
                var script = document.createElement('script');
                script.async = true;
                script.src = 'http://hm.baidu.com/h.js?77710a53fa85528362c49b970165efe6';
                script.setAttribute('data-persist', 'persist');
                script.id = 'holmes';
                var placeholder = document.getElementsByTagName('script')[0];
                placeholder.parentNode.insertBefore(script, placeholder);
            }
        }
        loadHolmes();
    </script>
</body>
</html>
