<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <script src="@Url.Script("jquery-1.8.2")" data-persist="persist"></script>
    <link rel="stylesheet" href="@Url.Style("site")" data-persist="persist" />
    @RenderSection("Resource", false)
    <link rel="icon" href="/favicon.ico" />
    <link rel="shortcut icon" href="/favicon.ico" />
</head>

<body data-theme="@Html.Theme()">
    <header id="header">
        <hgroup>
            <h1>宅居</h1>
            <h2>宅并技术着</h2>
            <h3>做技术最好的宅，或者最宅的技术 - by otakustay</h3>
        </hgroup>
    </header>
    <nav id="navigation">
        <ul>
            <li><a href="/">博客</a></li>
            <li><a href="http://weibo.com/otakustay" target="_blank">微博</a></li>
            <li><a href="https://github.com/otakustay" target="_blank">GitHub</a></li>
            <li><a href="http://stackoverflow.com/users/610777/otakustay" target="_blank">Stack Overflow</a></li>
        </ul>
    </nav>
    @RenderBody()
    <footer id="footer">
        <div id="copyright">
            <span>去你妹的Copyright</span>
            <blockquote id="copyrightStatement">
                <p>对于本博客的任何文章，你可以<strong>自由地</strong>、<strong>不受任何限制地</strong>进行转载其内容和所有相关资源。</p>
                <p>你<strong>可以</strong>在转载后不注明文章来源及原作者，但在此作者依旧<strong>建议</strong>你注明这些信息，以便在文章内容更新或勘误后，读者可以有效地查找到最新版本的内容。</p>
                <p>你可以请求获取文章的原内容（原内容为经改良的Markdown Extra格式），如有需求请根据右边的链接发送邮件并声明需要的文章标题等信息。但文章有进一步更新后，作者<strong>没有义务</strong>及时地向你提供更新内容。</p>
            </blockquote>
        </div>
        <nav id="profileLinks">
            <ul>
                <li><a href="/">博客</a></li>
                <li><a href="mailto:otakustay&#064;live.com">邮箱</a></li>
                <li><a href="http://weibo.com/otakustay" target="_blank">微博</a></li>
                <li><a href="https://github.com/otakustay" target="_blank">GitHub</a></li>
                <li><a href="http://stackoverflow.com/users/610777/otakustay" target="_blank">Stack Overflow</a></li>
            </ul>
        </nav>
    </footer>
    <script>
        var _hmt = window._hmt || [];
        var loadHolmes = $.noop;
        (function() {
            var hostname = location.hostname.toLowerCase();
            if (hostname !== 'localhost' && hostname.indexOf('127.0.0.') !== 0) {
                $('#holmes').remove();
                var script = document.createElement('script');
                script.async = true;
                script.src = 'http://hm.baidu.com/h.js?77710a53fa85528362c49b970165efe6';
                script.setAttribute('data-persist', 'persist');
                script.id = 'holmes';
                var placeholder = document.getElementsByTagName('script')[0];
                placeholder.parentNode.insertBefore(script, placeholder);

                loadHolmes = function() {
                    _hmt.push(['_trackPageview', location.pathname + location.search]);
                };
            }
        }());
    </script>
</body>
</html>
